.compare-page{
    background-color: rgb(24, 24, 24);
    min-height: 100vh;
   
 
}

.cmp-heading{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    justify-content:center;
    text-align: center;
    color: white;
    box-shadow: 0 5px 5px bisque;    
}



.cmp-container {
    display: flex;
    margin-top: 100px;
    width:100%;
    justify-content: center;
    
}

.cmp-box {
   
    height: auto;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.653) 0px 5px 15px;
    border-radius: 1rem;
    
}

.cmp-box1 {
   margin-left: 30px;
   margin-right: 30px;
}
