.highlites-page {
    background-color: rgb(50, 50, 50);
    min-height: 100vh;
    margin-left: 0%;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    height: 10px;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;

}

.grid-item {
    background-color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: black;
    box-shadow: 0 -10px 7px -7px grey inset;


}

.Logo {
    height: 100%;
    width: 100%;
}

.h-Box {
    display: grid;
    justify-content: center;
}

.h-container {
    display: grid;
    background-color: rgb(50, 50, 50);
    color: white;
    width: 95%;
    height: 100%;
    text-align: center;
    justify-content: center;
    

}

.container {
    display: flex;
    flex-direction: row-reverse;
    width: 400px;

}

.side {
    flex: 1;
    padding: 5px;

}

.side-content-center {
    display: flex;
    align-items: center;

}



.heading{
    width: 100%;
    margin-right: 40px;
    margin-left: 40px;
    box-shadow: 0 -10px 7px -7px grey inset;
}